{% extends 'base.html.twig' %}

{% block title %}All public notes
{% endblock %}

{% block body %}
<div class=""> 

{% set lastMonth = date('2024-07-07') %}

{{ dump(lastMonth) }}
{{ dump(lastMonth|time_diff) }}

<p>Publised {{ dump(lastMonth|time_diff) }} ago </p>
</div>

{% endblock %}  

{# {'slug': item.slug} c'est un tableau #}
{# {aaaaa |slice(0, 10)}... #}