<footer class="flex items-center justify-between p-3 text-base bg-slate-50 text-slate-600">
	<p class="">&copy; CodeXpress by <a href="https://github.com/jensone" class="text-violet-950">Jensone</a></p>
	<p class="px-2 py-1 text-white rounded-md bg-slate-800">{{ 'now'|date('Y') }}</p>
</footer>