<nav class="">
	<img
	src="" alt="" class="">
	{# partie à gauche (logo) #}
	<div
		class="">
		{# partie à droite #}
		<form action="" method="post">
			<input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="text" name="" id="" value="" placeholder="Looking for a specific note?" class="">
			<button type="submit">Submit ICON</button>
		</form>

		<div class="">
			<a href="" class="">plus-icon</a>
			<a href="" class="">COG-icon</a>
			<a href="" class="">PP</a>
		</div>
	</div>
</nav>
